/*--------------------------------------------------------------
# Frontend style <%= block.displayName %>
# Block Registered by: <%= block.class_name %>::register_block
# Enqueued by: <%= block.class_name %>::enqueue_assets_frontend
#
# Enqueued in frontend only
--------------------------------------------------------------*/

.wp-block-<%= funcPrefix %>-<%= block.name %> {

    &.align-left {
        text-align: left;
    }

    &.align-center {
        text-align: center;
    }

    &.align-right {
        text-align: right;
    }

}
