


h1,
h2 {
    font-family: 'Kalam';
}


.bg-graytopurple {
    background-image: linear-gradient(to left, theme-color("purple"), theme-color("purple-gray"));
};
.bg-graytopink {
    background-image: linear-gradient(to left, theme-color("pink"), theme-color("pink-gray"));
};
.bg-graytogreen {
    background-image: linear-gradient(to left, theme-color("bright-green"), theme-color("bright-green-gray"));
};



#page-wrapper {
    &.relative-top {
        position: relative;
        top: -5em;
    }

}
